OTEL_SERVICE_NAME="my-deep-research-service"
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT="http://localhost:4317/v1/traces"
DT_ENDPOINT=https://{tenant_id}.live.dynatrace.com/api/v2/otlp
DT_API_TOKEN={api_token}
